In [ ]:
import pandas as pd
#validar se um cnpj de um DataFrame está presente em outro, e se os valores brutos, ou a soma deles coincidem

#criei um data frame com alguns cnpj's e valores apenas para testes
cnpj_f={"CNPJ":["12.528.708/0001-07","06.128.563/0001-10","71.208.516/0001-74","17.167.396/0001-69","02.217.319/0001-07","10.338.320/0001-00","04.128.563/0001-10",
             "61.079.117/0001-05","11.721.921/0001-60","16.811.931/0001-00","04.128.563/0001-10","21.233.516/0001-22","21.208.516/0001-64","21.208.516/0001-64"],
      "VALOR BRUTO":[100,45,33,76,233,150,79,82,91,12,19,100,5,5]}
df_fiscal=pd.DataFrame(data=cnpj_f)

In [ ]:
#outro DataFrame criado para fazer a verificação
cnpj_p={"CNPJ_P":["12.528.708/0001-07","04.128.563/0001-10","71.208.516/0001-74","17.167.396/0001-69","02.217.319/0001-07","10.338.320/0001-00",
             "61.079.117/0001-05","11.721.921/0001-60","16.811.931/0001-00","04.128.563/0001-10","21.208.516/0001-64","21.233.516/0001-22","21.233.516/0001-22"],
       "VALOR BRUTO_P":[0,45,33,76,233,150,82,91,12,19,10,50,50]}
df_prefeitura=pd.DataFrame(data=cnpj_p)

In [ ]:
#inserindo uma coluna vazia para fazer a verificação do status
df_fiscal.insert(loc=2, column='STATUS', value='', allow_duplicates=True)
df_fiscal

                  CNPJ  VALOR BRUTO STATUS
0   12.528.708/0001-07          100
1   06.128.563/0001-10           45
2   71.208.516/0001-74           33
3   17.167.396/0001-69           76
4   02.217.319/0001-07          233
5   10.338.320/0001-00          150
6   04.128.563/0001-10           79
7   61.079.117/0001-05           82
8   11.721.921/0001-60           91
9   16.811.931/0001-00           12
10  04.128.563/0001-10           19
11  21.233.516/0001-22          100
12  21.208.516/0001-64            5
13  21.208.516/0001-64            5

In [ ]:
#inserindo uma coluna vazia para fazer a verificação do status
df_prefeitura.insert(loc=2, column='STATUS', value='', allow_duplicates=True)
df_prefeitura

                CNPJ_P  VALOR BRUTO_P STATUS
0   12.528.708/0001-07              0
1   04.128.563/0001-10             45
2   71.208.516/0001-74             33
3   17.167.396/0001-69             76
4   02.217.319/0001-07            233
5   10.338.320/0001-00            150
6   61.079.117/0001-05             82
7   11.721.921/0001-60             91
8   16.811.931/0001-00             12
9   04.128.563/0001-10             19
10  21.208.516/0001-64             10
11  21.233.516/0001-22             50
12  21.233.516/0001-22             50

In [6]:
#para cada linha na coluna dos CNPJ's 
for linha in df_prefeitura['CNPJ_P']:
    
    #pegar o index do cnpj que está guardado na variavel 'linha', e transforma em uma lista
    #se tiver mais de um cnpj igual no DataFrame, colocará na lista
    index_p = df_prefeitura.index[(df_prefeitura['CNPJ_P']==linha)].tolist()
    
    #pegar o valor bruto que está na linha do cnpj que está na variavel linha, através do index que foi guardado anteriormente
    valor_p = df_prefeitura['VALOR BRUTO_P'][index_p].tolist()
    
    #se tiver mais de um cnpj igual no DataFrame, somar os valores brutos
    listSum = sum(valor_p)
   
    #para cada cnpj do outro DataFrame
    for i in df_fiscal['CNPJ']:
    
        #se os cnpj's forem iguais  
        if i==linha:
            
            #pega o index do cnpj que está na variavel 'i' e guarda em uma lista
            index_f = df_fiscal.index[(df_fiscal['CNPJ']==i)].tolist()
            
            #pegar o valor bruto dessa linha 
            valor_f = df_fiscal['VALOR BRUTO'][index_f].tolist()
            
            #somar os valores brutos caso tenha mais de um cnpj igual
            listSum2 = sum(valor_f)
            
            #se a soma dos valores brutos dessas linhas forem iguais, então é inserido na coluna STATUS 'nf ok', onde estes cnpj's estão
            if listSum==listSum2:
                df_fiscal['STATUS'][index_f]='nf ok'
                df_prefeitura['STATUS'][index_p]='nf ok'

<ipython-input-6-5be3a9340263>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fiscal['STATUS'][index_f]='nf ok'
<ipython-input-6-5be3a9340263>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prefeitura['STATUS'][index_p]='nf ok'
<ipython-input-6-5be3a9340263>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fiscal['STATUS'][index_f]='nf ok'
<ipython-input-6-5be3a9340263>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prefeitura['STATUS'][index_p]='nf ok'
<ipython-input-6-5be3a9340263>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fiscal['STATUS'][index_f]='nf ok'
<ipython-input-6-5be3a9340263>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prefeitura['STATUS'][index_p]='nf ok'
<ipython-input-6-5be3a9340263>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fiscal['STATUS'][index_f]='nf ok'
<ipython-input-6-5be3a9340263>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prefeitura['STATUS'][index_p]='nf ok'
<ipython-input-6-5be3a9340263>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fiscal['STATUS'][index_f]='nf ok'
<ipython-input-6-5be3a9340263>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prefeitura['STATUS'][index_p]='nf ok'
<ipython-input-6-5be3a9340263>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fiscal['STATUS'][index_f]='nf ok'
<ipython-input-6-5be3a9340263>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prefeitura['STATUS'][index_p]='nf ok'
<ipython-input-6-5be3a9340263>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fiscal['STATUS'][index_f]='nf ok'
<ipython-input-6-5be3a9340263>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prefeitura['STATUS'][index_p]='nf ok'
<ipython-input-6-5be3a9340263>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fiscal['STATUS'][index_f]='nf ok'
<ipython-input-6-5be3a9340263>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prefeitura['STATUS'][index_p]='nf ok'
<ipython-input-6-5be3a9340263>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fiscal['STATUS'][index_f]='nf ok'
<ipython-input-6-5be3a9340263>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prefeitura['STATUS'][index_p]='nf ok'
<ipython-input-6-5be3a9340263>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fiscal['STATUS'][index_f]='nf ok'
<ipython-input-6-5be3a9340263>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prefeitura['STATUS'][index_p]='nf ok'
<ipython-input-6-5be3a9340263>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fiscal['STATUS'][index_f]='nf ok'
<ipython-input-6-5be3a9340263>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prefeitura['STATUS'][index_p]='nf ok'

In [7]:
df_fiscal

                  CNPJ  VALOR BRUTO STATUS
0   12.528.708/0001-07          100
1   06.128.563/0001-10           45
2   71.208.516/0001-74           33  nf ok
3   17.167.396/0001-69           76  nf ok
4   02.217.319/0001-07          233  nf ok
5   10.338.320/0001-00          150  nf ok
6   04.128.563/0001-10           79
7   61.079.117/0001-05           82  nf ok
8   11.721.921/0001-60           91  nf ok
9   16.811.931/0001-00           12  nf ok
10  04.128.563/0001-10           19
11  21.233.516/0001-22          100  nf ok
12  21.208.516/0001-64            5  nf ok
13  21.208.516/0001-64            5  nf ok

In [8]:
df_prefeitura

                CNPJ_P  VALOR BRUTO_P STATUS
0   12.528.708/0001-07              0
1   04.128.563/0001-10             45
2   71.208.516/0001-74             33  nf ok
3   17.167.396/0001-69             76  nf ok
4   02.217.319/0001-07            233  nf ok
5   10.338.320/0001-00            150  nf ok
6   61.079.117/0001-05             82  nf ok
7   11.721.921/0001-60             91  nf ok
8   16.811.931/0001-00             12  nf ok
9   04.128.563/0001-10             19
10  21.208.516/0001-64             10  nf ok
11  21.233.516/0001-22             50  nf ok
12  21.233.516/0001-22             50  nf ok